*{
    margin: 0; padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none; outline: none; text-decoration: none;
    box-sizing: border-box;
}
body {
    width: 100vw; height: 100vh;
    display: flex; justify-content: center; align-items: center;
    background: #4A86E5;
}