*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    text-decoration: none;
}
body {
    width: 100vw;
    height: 100vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.corpo {
    height: auto;
    width: auto;
    background: #ffffff; /*Tema ----------------------------------------*/
    overflow: hidden;
    border-radius: 10px; 
}
a {
    color: gray;
}