*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.corpo {
    height: auto;
    width: auto;
    background: #ffffff; /*Tema ----------------------------------------*/
    overflow: hidden;
    border: 1px solid rgba(0, 255, 255, 0.278);
    border-radius: 5px;
    box-shadow: 0.3rem 0.3rem 0.3rem #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    color: #808080;
}