.sessao2 {
    display: grid; justify-content: space-around; align-content: space-around;
    grid-template-columns: auto auto auto auto;
    height: 20rem; width: 18rem;
    margin: 0 0 0.5rem 0;
}
.item,.num {
    height: 3.9rem; width: 3.9rem;
    display: flex; align-items: center; justify-content: center;
    background: #8080805c; border-radius: 100%;
    transition: 0.1s;
    cursor: pointer;
}
.item { background: #4a85e598; }

.item:hover, .num:hover {
    border-radius: 28px;
}